<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelQLNS" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.ModelQLNS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLNhansu1Entities" connectionString="metadata=res://*/ModelQLNS.csdl|res://*/ModelQLNS.ssdl|res://*/ModelQLNS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-00HBHGV\SQLEXPRESS;initial catalog=QLNhansu1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString" connectionString="Data Source=DESKTOP-00HBHGV\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString1" connectionString="Data Source=DESKTOP-40TQM4C\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString2" connectionString="Data Source=DESKTOP-SC5S7G3\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString3" connectionString="Data Source=PHUCNGUYEN\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString4" connectionString="Data Source=DESKTOP-SKVRH89\SQLEXPRESS;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.QLNhansu1ConnectionString5" connectionString="Data Source=DESKTOP-18SF1ED\MINHTIEN;Initial Catalog=QLNhansu1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLNS1.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Persist Security Info=True;User ID=QLNhansu1;Password=qlns;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>